body{
    display: flex;
    position: relative;
    overflow:hidden;

    & > .page{
        @include size(100%, 100%);
        min-width:100%;
        min-height:100%;
        display: flex;
        flex-direction: column;

        overflow:auto;

        & > header{
            width: 100%;
            height: clamp(4rem, calc(4rem + 1vw), 8rem);
            @include flex(row, space-between, center, nowrap);
            
        }

        & > main{
            height:auto;
            
        }

        & > footer{
            width: 100%;
            height: clamp(4rem, calc(4rem + 1vw), 8rem);
        }
    }
}