body > .page > #page-main > .page-signup{
    @include size(100%, 100vh);
    background-color: rgba(#DEDEDE, 0.5);
    @include position(absolute, top, 0, left, 0);
    z-index:-1;
    @include flex(column, center, center, nowrap);
    overflow: auto;

    @media(max-width: 768px) and (orientation: landscape){
        @include flex(column, flex-start, center, nowrap);
    }
    
    & > .signup-form{
        @include size(20%, 50%);
        min-width: 280px;
        min-height:400px;
        @include flex(column, center, center, nowrap);
        background-color:#20379B;
        border-radius: 5px;

        @media(max-width: 1024px) and (orientation: portrait){
            @include size(50%, 50%);
        }

        & > header{
            @include size(80%, 33%);
            @include flex(row, space-around, center, nowrap);
            @include font(
                                'Jura', sans-serif,
                                clamp(1rem, calc(1rem + 1vw), 2rem),
                                initial, 
                                initial,
                                initial, 
                                #DEDEDE,
                                initial,
                                initial
                            );
        }

        & > main{
            @include size(100%, 33%);
            @include flex(column, center, center, nowrap);

            & > .input-text, & > .input-password, & > .input-email{
                @include size(60%, 100%);
                @include flex(row, center, center, nowrap);
                @include position(relative, top, auto, left, auto);
                border-bottom: 0.1rem solid #DEDEDE;
                
                padding:0.5rem;

                & > i{
                    @include size(10%, 100%);
                    @include flex(column, flex-end, center, nowrap);
                    color: #DEDEDE;
                    padding:clamp(0.1rem, calc(0.1rem + 1vw), 0.6rem);
                }

                & > .show-pass{
                    @include size(10%, 100%);
                    @include flex(column, center, center, nowrap);
                    @include position(absolute, top, auto, right, 0);
                    z-index:99;
                    padding:clamp(0.1rem, calc(0.1rem + 1vw), 0.6rem);
                    cursor: POINTER;
                    transition: 0.5s ease;
                }

                & > .input-container{
                    @include size(100%, 50%);
                    @include position(relative, top, auto, left, auto);
                    

                    & > span{
                        @include size(100%, 100%);
                        @include flex(row, flex-start, center, nowrap);
                        @include position(absolute, bottom, auto, left, auto);
                        @include font(
                                'Jura', sans-serif,
                                clamp(0.7rem, calc(0.7rem + 1vw), 1.2rem),
                                initial, 
                                initial,
                                initial, 
                                #DEDEDE,
                                initial,
                                initial
                            );
                            padding-left:1rem;
                    }

                    & > input{
                        @include size(100%, 100%);
                        @include position(absolute, top, 0, left, 0);
                        border:none;
                        outline:none;
                        border-bottom: 0.1rem solid #393939;
                        background-color: transparent;
                        @include font(
                                'Jura', sans-serif,
                                clamp(0.7rem, calc(0.7rem + 1vw), 1.2rem),
                                initial, 
                                initial,
                                initial, 
                                #DEDEDE,
                                initial,
                                initial
                        );
                        
                        padding-left:1rem;
                    }
                }
            } 
        }

        & > footer{
            @include size(100%, 33%);
            @include flex(column, flex-end, space-around, nowrap);

        & > input{
            @include size(100%, 30%);
            @include font(
                                'Jura', sans-serif,
                                clamp(0.7rem, calc(0.7rem + 1vw), 1.2rem),
                                initial, 
                                initial,
                                900, 
                                #393939,
                                initial,
                                initial
                        );
            margin-bottom: clamp(0.4rem, calc(0.4rem + 1vw), 0.8rem);
            cursor: pointer;
            border: none;
            outline: none;

            &:hover{
                background-color:lighten(#20379B, 5%);
                color: #DEDEDE;
            }
        }
        }
    }
}